################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Rdz.cAlgo.GridTrap/Rdz.cAlgo.GridTrap/obj/Debug
