################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Rdz.cAlgo.GridTrap/Rdz.cAlgo.GridTrap/obj/Debug
/Rdz.cAlgo.GridTrap/.vs/Rdz.cAlgo.GridTrap/v15
/Rdz.cAlgo.GridTrap/Rdz.cAlgo.GridTrap/obj/Release
